@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway/raleway-regular-webfont.eot');
    src: url('../fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'londrinasolid';
    src: url('/fonts/londrina/londrinasolid-regular-webfont.eot');
    src: url('/fonts/londrina/londrinasolid-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/londrina/londrinasolid-regular-webfont.woff') format('woff'),
         url('/fonts/londrina/londrinasolid-regular-webfont.ttf') format('truetype'),
         url('/fonts/londrina/londrinasolid-regular-webfont.svg#londrina_solidregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'londrinasketch';
    src: url('/fonts/londrina/londrinasketch-regular-webfont.eot');
    src: url('/fonts/londrina/londrinasketch-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/londrina/londrinasketch-regular-webfont.woff') format('woff'),
         url('/fonts/londrina/londrinasketch-regular-webfont.ttf') format('truetype'),
         url('/fonts/londrina/londrinasketch-regular-webfont.svg#londrina_sketchregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
