/* Features. */
$enable-transitions: true;
$debug: false;

/* Fonts. */
$font-standard: 'ralewayregular', sans-serif;
$font-title: 'londrinasolid', sans-serif;
$font-subtitle: 'londrinasketch', sans-serif;
$font-code: monospace;

/* Colors. */
$color-body-bg: #ffffff;

$color-one-lead: #84D760;
$color-one-title: #84D760;
$color-one-text: #fafafa;
$color-one-shadow: #247356;

$color-two-lead: #ffffff;
$color-two-title: #ff9900;
$color-two-text: rgba(#000, 0.9);
$color-two-shadow: rgba(#000, .1);

$color-three-lead: #2bba6b;
$color-three-text: #ffffff;
$color-three-shadow: #176339;

/* Sensitive sizes. */
$header-height: 50px;
$footer-height: 60px;
