<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  {% block head %}
    <meta charset="utf-8">
    <!-- Content. -->
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta name="description" content="Bababille, la location familiale">
    <meta name="author" content="Benoît Bryon">
    <meta name="robots" content="index, follow">
    <!-- Feeds. -->
    {% if FEED_ALL_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
      <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
      <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
      <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
      <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    <!-- Style. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="canonical" href="{% block permalink %}{{ SITEURL }}/{% endblock %}">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- IE tricks. -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  {% endblock head %}
</head>
<body id="{% block body_id %}{% endblock %}">
  <header>
    <div>
      <nav>
        <div>
          <a id="logo" href="{{ site_url }}">Bababille</a>
          <p>habille bébé</p>
        </div>
      </nav>
    </div>
  </header>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <footer>
    <div>
      <div>
        <p class="copyright">&copy; Benoît Bryon, 2017</p>
        <p class="contacts"></p>
      </div>
    </div>
  </footer>
  {% block javascript %}
    <script src="./js/libs.min.js" type="text/javascript"></script>
    <script src="./js/main.js" type="text/javascript"></script>
  {% endblock %}
</body>
</html>
