{% extends "base.html" %}

{% block body_id %}index{% endblock %}

{% block content %}

  <section id="tagline">
    <div>
      <div>
        <img src="/img/grandir.png" />
        <blockquote>
          Tout-petit deviendra grand... Pourquoi acheter ses vêtements&nbsp;?<br />
          <span class="excerpt">Louez, utilisez, échangez à volonté&nbsp;!</span>
        </blockquote>
      </div>
    </div>
  </section>

  <section id="benefits">
    <div>
      <div>
        <article>
          <div>
            <h2>
              <img src="/img/illimite.png" />
              <span class="action">Échange illimité</span>
            </h2>
            <p class="benefit">
              Le choix utile ET agréable
            </p>
          </div>
        </article>
        <article>
          <div>
            <h2>
              <img src="/img/zen.png" />
              <span class="action">Budget maîtrisé</span>
            </h2>
            <p>
Zéro frais cachés
            </p>
          </div>
        </article>
        <article>
          <div>
            <h2>
              <img src="/img/durable.png" />
              <span class="action">Impact positif</span>
            </h2>
            <p>
Économie circulaire &amp; locale
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section id="products">
    <div>
      <div>
        <article class="main">
          <div>
            <img src="/img/location-vetements-pack.jpg" />
            <h2>Kit évolutif 0-3 ans à partir de 9€/mois</h2>
            <p>
              Location d'un ensemble de vêtements échangeables selon vos besoins.
              La solution flexible et tranquille pour habiller votre enfant.
            </p>
          </div>
        </article>
        <div class="others">
        <article>
          <div>
            <img src="/img/location-vetement-unite.jpg" />
            <h2>Location de vêtements à l'unité</h2>
            <p>
              En complément ou pour les occasions.
            </p>
          </div>
        </article>
        <article>
          <div>
            <img src="/img/cadeau.jpg" />
            <h2>Tickets cadeaux</h2>
            <p>
              Pour des présents utiles et heureux&nbsp;!
            </p>
          </div>
        </article>
        </div>
      </div>
    </div>
  </section>

  <section id="call">
    <div>
      <div>
        <article>
          <div>
            <h2>Démarrage en septembre 2017 à Bayonne...</h2>
            <a class="btn" href="https://goo.gl/forms/IfU3e2cqNWEfxnxJ2"><img src="/img/yeah.png" /> Ça m'intéresse&nbsp;!</a>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section id="contact">
    <div>
      <div>
        <article>
          <h2>Contact</h2>
          <div class="meet">
            <p>
Comme tant d'autres parents, j'ai acheté ou récupéré des vêtements.
Je les ai entretenus, renouvelés puis les ai fait circuler...
Quelle énergie dépensée pour des objets dont l'usage est éphémère&nbsp;!
Et quel dommage quand ces vêtements ne trouvent pas repreneur pour une tâche ou
un petit accroc&nbsp;!
            </p>
            <p><strong>
Avec Bababille, je souhaite simplifier la vie des parents
tout en favorisant une économie circulaire, locale et solidaire.</strong>
            </p>
          </div>
          <div class="call">
            <img src="img/benoit-bryon.jpg" />
            <h3>Benoît BRYON</h3>
            <p><span class="fa fa-phone fa-fw"> </span>&nbsp; 06&nbsp;74&nbsp;49&nbsp;68&nbsp;81</p>
            <p><span class="fa fa-envelope-o fa-fw"> </span>&nbsp; <a href="mailto:contact@bababille.fr">contact@bababille.fr</a></p>
            <p><span class="fa fa-home fa-fw"> </span>&nbsp; Bayonne, France</p>
          </div>
            <div class="team">
              <img src="/img/equipe.png" />
              <p>
                Vous êtes couturiers, recycleurs, créateurs, commerçants
                ou simplement motivés par ce projet&nbsp;?
                Parlons de coopération et de communs&nbsp;!
                <a href="http://nosmainsnues.com">Faire ensemble</a> me plaît ;)
              </p>
            </div>
        </article>
      </div>
    </div>
  </section>
{% endblock content %}
